.div {
  float: left;
  position: relative;
}

.flashy {
  border: 10px solid red;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  color: red;
  background-color: red;
  top: 500;
  left: 500;
  position: absolute;
}